<div>
    <h1> <%= message.text %> </h1>
    <h3> <%= message.user %></h3>
    <p> <%= message.added %></p>
    <a href="/<%= message.user %>/messages/<%= message.added %>">
        <button" type="button">Open</button>
    </a>
</div>
